@import "../colors.scss";
@import "../mixins.scss";
@import "../variables.scss";

.navigation {
  display: grid;
  gap: $spacing-md;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, max-content);
  padding: $spacing-md 0;

  &__burger-label {
    width: 25px;
    height: 20px;
    display: flex;
    cursor: pointer;
    gap: $spacing-xs;
    align-self: baseline;
    flex-direction: column;
    flex: 0 0 auto;
    margin-top: $spacing-sm;

    @include tablet {
      display: none;
    }

    &--opened {
      .navigation__burger-label-item:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }

      .navigation__burger-label-item:nth-child(2) {
        display: none;
      }

      .navigation__burger-label-item:nth-child(3) {
        transform: rotate(-45deg);
      }
    }

    &-item {
      min-width: 100%;
      min-height: 3px;
      background: $black;
      border-radius: $border-radius-8;
      transition: transform 0.3s;
    }
  }

  &__burger-input:checked + &__list {
    // opacity: 1;
    // max-height: 200px;
    display: flex;
  }

  &__burger-input:not(:checked) + &__list {
    // opacity: 0;
    // max-height: 0;
    display: none;

    @include tablet {
      //   opacity: 1;
      //   max-height: 200px;
      display: flex;
    }
  }

  &__list {
    display: flex;
    gap: $spacing-lg;
    flex-direction: column;
    font-size: $font-size-18;
    grid-column: span 2;
    margin-top: $spacing-md;
    // transition: opacity 0.3s, max-height 0.3s ease-in;

    border-top: 1px solid $grey-color-200;
    padding-top: $spacing-md;

    @include tablet {
      margin-top: 0;
      border-top: 0;
      padding-top: 0;
      gap: $spacing-xl;
      flex-direction: row;
      grid-column: span 1;
      font-size: $font-size-24;
    }

    @include desktop {
      gap: $spacing-xxl;
    }

    &-item {
      padding: 0 0 $spacing-md $spacing-sm;
      border-bottom: 1px solid $grey-color-200;

      @include tablet {
        padding: 0;
        border-bottom: 0;
      }
    }
  }
}
