@import "../colors.scss";
@import "../mixins.scss";
@import "../variables.scss";

.navigation {
  display: grid;
  gap: $spacing-md;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, max-content);
  padding: $spacing-md 0;

  &__burger-label {
    width: 25px;
    height: 20px;
    display: flex;
    cursor: pointer;
    gap: $spacing-xs;
    align-self: baseline;
    flex-direction: column;
    flex: 0 0 auto;
    margin-top: $spacing-sm;

    @include tablet {
      display: none;
    }

    &--opened {
      .navigation__burger-label-item:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }

      .navigation__burger-label-item:nth-child(2) {
        display: none;
      }

      .navigation__burger-label-item:nth-child(3) {
        transform: rotate(-45deg);
      }
    }

    &-item {
      min-width: 100%;
      min-height: 3px;
      background: $primary-color;
      transition: transform 0.3s;
      border-radius: $border-radius-8;
    }
  }

  &__burger-input:checked + &__list {
    display: flex;
  }

  &__burger-input:not(:checked) + &__list {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    font-size: $font-size-18;
    grid-column: span 2;
    margin-top: $spacing-md;
    border-top: 1px solid $purple-color-500;

    @include tablet {
      margin-top: 0;
      border-top: 0;
      gap: $spacing-md;
      flex-direction: row;
      grid-column: span 1;
      font-size: $font-size-20;
    }

    @include desktop {
      gap: $spacing-xxl;
    }

    &-item {
      border-bottom: 1px solid $purple-color-500;

      @include tablet {
        border-bottom: 0;
      }

      .link {
        padding: $spacing-md $spacing-sm;

        @include tablet {
          position: relative;
          padding: $spacing-sm;

          &:after {
            content: "";
            height: 2px;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0px;
            background: $primary-color;
            transform: scale(0);
            transition: transform 0.3s;
          }

          &:hover {
            &:after {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
