@import "../mixins.scss";
@import "../colors.scss";
@import "../variables.scss";

.product-details {
  display: grid;
  gap: $spacing-md;

  @include tablet {
    gap: $spacing-xl;
    grid-template-columns: repeat(2, 1fr);
  }

  &__image {
    height: 400px;
    overflow: hidden;
    border-radius: $border-radius-8;

    @include tablet {
      height: 450px;
    }

    &-item {
      width: 100%;
      height: 100%;
      object-fit: none;
    }
  }

  &__content {
    &-name {
      font-weight: 400;
      font-size: $font-size-24;
      padding-bottom: $spacing-xl;

      @include tablet {
        font-size: $font-size-32;
      }
    }

    &-description {
      color: $grey-color-400;
      font-size: $font-size-16;
      padding-bottom: $spacing-lg;
    }

    &-price {
      font-size: $font-size-16;
      padding: $spacing-lg 0;
      border-top: 1px solid $grey-color-200;

      &-value {
        color: $grey-color-400;
        padding-left: $spacing-xs;
      }
    }

    &-category {
      padding: $spacing-lg 0;
      font-size: $font-size-16;
      border-top: 1px solid $grey-color-200;
      border-bottom: 1px solid $grey-color-200;

      &-value {
        color: $grey-color-400;
        padding-left: $spacing-xs;
      }
    }

    &-features {
      font-size: $font-size-16;
      padding: $spacing-lg 0;

      @include tablet {
        padding-bottom: 0;
      }

      &-title {
        padding-bottom: $spacing-lg;
      }

      &-list {
        display: grid;
        gap: 16px;

        @include mobile-large {
          grid-template-columns: repeat(2, 1fr);
          justify-content: space-between;
        }

        &-item {
          display: grid;
          gap: $spacing-sm;
          grid-template-columns: min-content 1fr;

          .fas {
            color: $black;
            padding-top: $spacing-xxs;
          }

          &-value {
            color: $grey-color-400;
            padding-left: $spacing-xs;
          }
        }
      }
    }
  }
}
