@import "../colors.scss";
@import "../mixins.scss";
@import "../variables.scss";

.products {
  margin-top: $spacing-xl;
  padding: $spacing-xxl 0;
  background: $grey-color-100;

  &__title {
    font-weight: 400;
    font-size: $font-size-24;
    padding-bottom: $spacing-xl;

    @include tablet {
      font-size: $font-size-32;
    }
  }

  &__button {
    margin: $spacing-xl 0 0;
    padding: $spacing-sm $spacing-md;
    font-size: $font-size-18;
    border: 1px solid $grey-color-500;
    border-radius: $border-radius-32;
  }
}
