@import "../../mixins.scss";
@import "../../colors.scss";
@import "../../variables.scss";
@import "../../placeholders.scss";

.cards {
  display: grid;
  gap: $spacing-lg $spacing-md;
  justify-content: space-between;
  grid-template-columns: minmax(285px, 1fr);
  margin-bottom: $spacing-xl;

  @include mobile-large {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}

.card {
  cursor: pointer;

  &__header {
    height: 285px;
    overflow: hidden;
    border-radius: $border-radius-8;
    filter: grayscale(100%);
    transition: filter 1s;

    &:hover {
      filter: none;
    }

    @include mobile-large {
      height: 260px;
    }

    &-image {
      @extend %loading-styles;
      width: 100%;
      height: 100%;
      object-fit: none;
    }
  }

  &__footer {
    display: grid;
    gap: $spacing-xs;
    align-items: center;
    justify-content: space-between;
    grid-template: repeat(2, min-content) / 1fr max-content;
    margin-top: $spacing-sm;

    &-name {
      font-size: $font-size-16;
    }

    &-price {
      grid-row: 2;
      grid-column: 1;
      color: $grey-color-500;
      font-size: $font-size-14;
    }

    &-button {
      grid-row: span 2;
      padding: $spacing-sm;
      font-size: $font-size-14;
      color: $primary-color;
      border: 1px solid $primary-color;
      border-radius: $border-radius-32;
      transition: all 0.3s;

      &:hover {
        color: $grey-color-100;
        background: $primary-color;
      }
    }
  }
}
