@import "../animations.scss";
@import "../../colors.scss";
@import "../../mixins.scss";
@import "../../variables.scss";

.dialog {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  position: fixed;
  background: $grey-overlay;
  animation: dialog-overlay-in 0.5s linear;

  &--closing {
    animation: dialog-overlay-out 0.5s linear;
  }

  &__content-close-button {
    display: flex;
    gap: $spacing-xs;
    flex-direction: column;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 32px;
    height: 32px;
    border: none;
    background: $grey-color-100;
    border-radius: $border-radius-8;
    padding: 7px $spacing-xs $spacing-xs;

    @include tablet {
      top: 10px;
      right: 10px;
    }

    @include desktop {
      top: 24px;
      right: 24px;
    }

    &-item {
      min-width: 100%;
      min-height: 3px;
      display: inline-block;
      background: $grey-color-400;
      border-radius: $border-radius-8;

      &:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }

  &__content {
    overflow-y: auto;
    position: absolute;
    background: $white;
    padding: $spacing-sm;
    animation: dialog-content-expand-mobile 0.5s ease-out forwards;

    @include tablet {
      display: flex;
      align-items: center;
      margin: auto;
      max-width: 700px;
      max-height: 550px;
      padding: $spacing-lg;
      border-radius: $border-radius-8;
      animation: dialog-content-expand-desktop 0.5s ease-out forwards;
    }

    @include desktop {
      max-width: 900px;
      padding: $spacing-xxl;
    }

    &--closing {
      animation: dialog-content-collapse-mobile 0.5s ease-out forwards;

      @include tablet {
        animation: dialog-content-collapse-desktop 0.5s ease-out forwards;
      }
    }
  }
}
