@import "mixins.scss";
@import "variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin-top: $spacing-md;
}

.footer {
  margin-top: auto;
}

.container {
  margin: 0 $spacing-sm;
  padding: 0 $spacing-sm;

  @include tablet {
    margin: 0 $spacing-xl;
    padding: 0 $spacing-xl;
  }

  @include desktop {
    margin: 0 $spacing-xxl;
    padding: 0 $spacing-xxl;
  }

  @include desktop-large {
    margin: 0 $spacing-xxxl;
    padding: 0 $spacing-xxxl;
  }

  @include desktop-extra-large {
    margin: 0 $spacing-xxxxl;
    padding: 0 $spacing-xxxxl;
  }
}
