$black: #000000;
$white: #ffffff;

$grey-color-100: #f5f5f6;
$grey-color-200: #d6d6d6;

$grey-color-400: #7b7b7b;
$grey-color-500: #4a4a4a;
$grey-color-600: #3a3a3a;

$purple-color-100: #eee4ff;
$purple-color-200: #887488;
$purple-color-500: #641a64;
$purple-color-700: #380738;

$green-color-500: #005e18;

$grey-overlay: #f0f0f0f0;

$primary-color: $purple-color-500;
$secondary-color: $green-color-500;

$linear-background: linear-gradient(
  110deg,
  #ececec 8%,
  #f5f5f5 18%,
  #ececec 33%
);
